:root{
    --main-color: #c31515;
    --secondary-color: #f5f5f5;
    --text-color: #333;
    --background-color: #fff;
    --border-color: #8b1111;
    --white: #fff;
    --color-heading: #333;
    --p-color: #555;
    --bg-color: #f3f3f3;
}
body{
    padding-top: 150px;
}
.checkout{
    margin: 50px 0;
}
.checkout .ordersummary{
    width: 45%;
    padding: 0 20px;
    border: 1 px solid var(--border-color);
    box-shadow: 0px 8px 10px grey;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-height: 550px;       /* constrains the whole box */
    overflow: hidden; 
}
.checkout .ordersummary h1{
color: var(--main-color);
border-bottom: 1px solid var(--border-color);
padding: 20px 0;
margin-bottom: 20px;

}
.checkout .items{
height: 350px;
overflow-y: auto;

}
.checkout .items .item-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:  1px solid var(--border-color);
    gap: 20px;
    height:124px;
    padding-right: 20px;
}
.checkout .items .item-cart:last-child{
    border-bottom: 0;
}
.checkout .items .item-cart .img-name{
    display: flex;
    align-items: center;
    gap: 20px;
}
.checkout .items .item-cart h4{
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.checkout .items .item-cart img{
    height: 80px;
    width: auto;
}
.checkout .items .item-cart .delete-item{
width: 50px;
}
.checkout .ordersummary .btn-div{
    display: flex;
    justify-content: center;
}
.checkout .ordersummary .btn-div button{
    padding:10px 30px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color : var(--white);
    font-size: 20px;
    width: auto;
    background-color: #c31515;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}
.checkout .ordersummary .btn-div button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #c31515;
}
.items .item-cart .delete-item{
    background-color: var(--secondary-color);
    padding: 10px 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;

}
.items .item-cart .delete-item:hover {
    cursor: pointer;
    
    fill: white;
}
.items .item-cart .delete-item:hover svg{
    scale: 1.2;
}
.items .item-cart .quantity-control{
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 5px;
}
.items .item-cart .img-name .content .quantity-control button{
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid var(--border-color);

}
.items .item-cart .img-name .content .quantity-control span{
    font-size: 18px;
    min-width: 40px;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}
.checkout .bottom-summary {
    border-top: 1px solid var(--border-color);
    padding: 10px;

}
.checkout .bottom-summary .shop-table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.checkout .bottom-summary .shop-table p{
text-transform: capitalize;
font-size: 20px;
color:var(--text-color);
font-weight: bold;
}
.checkout .bottom-summary .shop-table .total-checkout{
font-size: 20px;
color: #c31515;
font-weight: bold;
}
.items .item-cart .img-name .content .quantity-control button:hover{
    cursor: pointer;
}